@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra{
    display: none;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navegacion{
        display: flex;
        gap: 3rem;
    }
    &__nombre,
    &__link{
        color: v.$blanco;
    }
    &__nombre{
        margin: 0;
    }
}